
.container{
    padding-top: 10em;
    padding-bottom: 5em;
    max-width: 80%;
  }

  .form-group{
    width: 90%;
    top: 16%;
    margin: 1em auto;
    position: relative;
    display: block;
}
  
a{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
