.container{
    padding-top: 6em;
    padding-bottom: 6em;
    max-width: 80%;
  }

  .portfolio-item{
    padding-bottom: 25px !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }

 .add{
   margin-top: 4em;
 }

 .form-group{
   margin-top: 1em;
   width: 100%;
 }